# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=td648r51
NEXT_PUBLIC_SANITY_DATASET=production

# Token de leitura (para Live Content API e Draft Mode)
# Gere em: https://www.sanity.io/manage -> seu projeto -> API -> Tokens
SANITY_API_READ_TOKEN=
